


.searchbar {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
  
.buscador{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
}
  
.agregar{
    background-color: #5CAD4A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}